xcuserdata/
RefactoringMartinFowler.xcodeproj/xcshareddata/

RefactoringMartinFowler.xcodeproj/*
RefactoringMartinFowler.xcodeproj/project.pbxproj
RefactoringMartinFowler.xcodeproj/xcshareddata/
RefactoringMartinFowler.xcodeproj/project.xcworkspace/
RefactoringMartinFowler.xcworkspace/contents.xcworkspacedata
RefactoringMartinFowler.gcno
RefactoringMartinFowler/xcshareddata/WorkspaceSettings.xcsettings